@import "variable";

.home-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  .home-title {
    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 20px, false);
  }
  #home-btn {
    margin-top: 120px;
    background: #00000000;
    width: 360px;
    height: 120px;
    border-radius: 30px;
    border: 1px solid $COLOR_337BD0;
    @include setCursorPointer();
    @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 40px, false);
  }
}
