@import "variable";

.search-item {
  display: flex;
  flex-direction: column;
  border: 1px solid $COLOR_37474F;
  padding: 20px;
  margin: 20px 10px;

  .search-trash {
    position: absolute;
    align-self: flex-end;
    z-index: 50;
    background: $COLOR_DARK;
    width: 20px;
    height: 20px;
    @include setNonSelectable();
    @include setCursorPointer();
  }

  .search-title {
    .search-title-default {
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 20px, true);
    }
    .search-title-color {
      @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 20px, true);
    }
  }

  .search-content {
    margin-top: 20px;
    .search-content-default {
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 14px, true);
      white-space: pre-line;
    }
    .search-content-color {
      @include setFont($COLOR_FF6600, $FONT_WEIGHT_BOLD, 14px, true);
      white-space: pre-line;
    }
  }
}
