@import "variable";

$SEARCH_WIDTH: 60%;

  .search-header {
    width: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    min-height: 50px;
    background: $COLOR_DARK;
    position: sticky !important;
    position: -webkit-sticky !important; /* 사파리 브라우저 지원 */
    padding: 20px 10px;
    top: 0;
    .search-input {
      width: 100%;
      min-height: 32px;
      background: $COLOR_DARK;
      border: 1px solid #61dafb;
      padding: 0 10px;
      @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 14px);
    }
  }
  .search-container {
    display: flex;
    min-height: 100vh;
    height: inherit;

    .search-refresh {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      width: 200px;
      height: 200px;
      @include setRotateAnimation();
      @include setCursorPointer();
    }

    .search-articles {
      width: 100%;
    }

    .sd-delete {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
      background: $COLOR_000000_OP_90;
      .delete-container {
        display: flex;
        min-width: 240px;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #FF6600;
        padding: 20px;
        border-radius: 10px;
        margin: auto;
        .delete-title {
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 18px);
        }
        .delete-pw {
          margin-top: 20px;
          min-height: 30px;
          border: 1px solid #61dafb;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 16px);
          background: transparent;
        }
        .delete-btn-container {
          display: flex;
          width: 100%;
          min-height: 30px;
          flex-direction: row;
          align-items: center;
          text-align: center;
          padding-top: 20px;
          .delete-confirm {
            width: 100%;
            height: inherit;
            align-self: center;
            @include setFont($COLOR_SCARLET_RED, $FONT_WEIGHT_MEDIUM, 16px);
            @include setCursorPointer();
          }
          .delete-cancel {
            width: 100%;
            height: inherit;
            @include setFont($COLOR_LIGHT_GREEN, $FONT_WEIGHT_MEDIUM, 16px);
            @include setCursorPointer();
          }
        }
      }
    }

    .search-dialog {
      z-index: 301;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      position: fixed;
      background: $COLOR_000000_OP_90;

      .sd-container {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;

        .sd-close {
          width: 30px;
          height: 30px;
          margin-bottom: 30px;
          z-index: 15;
          @include setCursorPointer();
          @include setNonSelectable();
        }

        #sd-desc {
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 24px);
          @include setCursorDefault();
          @include setNonSelectable();
          width: $SEARCH_WIDTH;
          margin-top: 20px;
        }

        .sd-title {
          min-height: 60px;
          width: $SEARCH_WIDTH;
          margin-top: 10px;
          padding: 18px;
          background: $COLOR_000000;
          border: 1px solid #61dafb;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 14px);
        }

        .sd-content {
          width: $SEARCH_WIDTH;
          margin-top: 6px;
          max-height: 300px;
          height: 300px;
          background: $COLOR_000000;
          border: 1px solid #61dafb;
          padding: 18px;
          resize: none;
          line-height: 150%;
          @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 16px);
        }

        .sd-write {
          width: $SEARCH_WIDTH;
          margin-top: 50px;
          padding: 10px;
          background: $COLOR_000000;
          border: 1px solid $COLOR_SUCCESS;
          @include setCursorPointer();
          @include setFont($COLOR_SUCCESS, $FONT_WEIGHT_BOLD, 20px);
        }
        .sd-modify {
          width: $SEARCH_WIDTH;
          margin-top: 50px;
          padding: 10px;
          background: $COLOR_000000;
          border: 1px solid $COLOR_PURPLE;
          @include setCursorPointer();
          @include setFont($COLOR_PURPLE, $FONT_WEIGHT_BOLD, 20px);
        }

        .sd-pw-form {
          min-height: 30px;
          width: $SEARCH_WIDTH;
          margin-top: 10px;
          .sd-password {
            width: 100%;
            padding: 10px;
            background: $COLOR_000000;
            border: 1px solid #FFC107;
            @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_MEDIUM, 14px);
          }
        }

      }
    }

    .search-add-btn {
      width: 60px;
      height: 60px;
      position: fixed;
      z-index: 5;
      right: 20px;
      bottom: 20px;
      @include setCursorPointer();
      @include setNonSelectable();
    }
  }


